<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="demo">
		<p>{{ total }}</p>
		<my-component v-on:hclick="incrementTotal"></my-component>
		<my-component v-on:hclick="incrementTotal"></my-component>
	</div>
</body>
	<script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
	<script>
		Vue.component('myComponent',{
			template : '<button v-on:click="increment">{{ counter }}</button>',
			data : function() {
				return {
					counter : 0
				}
			},
			methods : {
				increment : function() {
					this.counter ++;
					this.$emit('hclick');
				}
			}
		})
		new Vue({
			el : '#demo',
			data : {
				total : 0
			},
			methods : {
				incrementTotal : function() {
					this.total += 1
				}
			}
		})
	</script>
</html>