<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="demo">
		<child-component></child-component>
		<test-component></test-component>
	</div>

	<div id="demo02">
		<test-component></test-component>
		<child-component></child-component>
	</div>
</body>
	<script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
	<script>
		var Child = {
			template : '<div>I am Local Registration component !</div>'
		}
		Vue.component('test-component',{
			template : '<div>I am test component</div>'
		})
		new Vue({
			el : '#demo',
			components : {
				'child-component' : Child
			}
		})

		new Vue({
			el : '#demo02'
		})


	
	</script>
</html>